/*prloader*/
#loading{
  position: fixed;
  width:100%;
  height: 100vh;
  background: #fff url('../profile/image/original.gif') no-repeat center;
  z-index: 2;
}

/* Login CSS*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: -5;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 4% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  z-index: 3;
  width: 35%;
  min-width: 350px;
  height: 80vh; 
  min-height: 670px;/* Could be more or less, depending on screen size */
  padding: 8px;
  border-radius: 5px;
   
}

/* The Close Button */
.close,.close2 {
  font-size: 28px;
  margin-top: 5px;
  font-weight: 700;
}
.color-l{
    color:rgb(10, 10, 10);
    margin-left: 9px;
}

.close:hover,
.close:focus,.close2:hover,
.close2:focus  {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#name,#email,#name2,#email2{
  margin-top:5px;
  padding: 10px;
  width: 30vw;
  border: 1px solid lightgray;
  border-radius:3px;
  height: 40px;
  margin-bottom:20px ;
}
#name,#email,#name2,#email2{
  margin: auto 10px;
  width: 31vw;
  min-width: 310px;
  margin-bottom:20px ;

}
#name,#name2{
  margin-top: 10px;
}
#span-F,#span-F2{
    display: flex;
}
#code,#code2 {
 
  height: 30px;
  border-radius:5px;
  
}
#lin,#tc, #lin2,#tc2{
    text-align: center;
}
#lin1{
 margin-top: 35%;
 text-align: center;
}
#lin2{
  margin-top: -3%;
}
#btn,#btn2{
  margin-top: 20px;
 width:96%;
 color: white;
 font-size: 26px;
 margin: 10px;
 height: 50px;
 border:none;
 border-radius: 3px;
}
#top,#top2{
  display: flex;
  
}
#img,#img2{
  margin-left: auto;
  margin-right: 13px;
}
#cl,#cl2{
  height:20px;
  transform: rotate(180deg);
}
.countrys,.countrys2{
font-weight: 700;
border-radius: 3px;
display: flex;
align-items: center;
border: 1px solid lightgray;
width: 11%;
}
.phone-container, .phone-container2{
 width: 98%;
 height: 66px;
 display: flex;
 margin: auto;
} 
.phone-container >div,.phone-container2 >div{
 margin: 4px;
}
#number,#number2{
 padding: 5px;
 border-radius: 3px;
 width: 27.3vw;

 min-width: 275px;

 display: inline;
 outline: none;
 border: 1px solid lightgray;


}
#country-code,#country-code2{
padding: 2px;
margin-bottom: 9px;
 width: 24px;
 border: none;
}

#check,#check2{
color: red;
font-size: 10px;
 padding-left: 80px;
margin-left: 4px;
}

#Link,#Sink{
color: #715c94;
cursor: pointer;
}

/*Login Css End*/


#topBox{
  display:grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 94%;
  margin-left: -0.5%;
  margin-top: -0.5%;
}
#leftBox{
  width:100%;
  background-image: url(https://assets.faasos.io/faasos_v2/brandPattern.png);
}
#leftBox > h1:nth-child(2){
color: white;
font-size: 45px;
font-family: Muli, sans-serif;
letter-spacing: 0.01rem;
margin: 9% 0% 0% 13%;
}
#rightBox > img{
  width:571px;
  height:598px;
  border-bottom-left-radius: 4%;
}
#logoLine{
  display: grid;
  grid-template-columns: 20% 50%;
  grid-template-rows: 60%;
  grid-gap: 38%;
  margin:12% 0% 0% 13%;
}
#logoLine > div:nth-child(2){
  display:grid;
  grid-template-columns: 30% 33%;
  grid-gap: 1%;
  font-size: large;
}
#logoLine > div:nth-child(2) > div:nth-child(1){
  padding:11% 0% 0% 26%;
  color: rgb(255, 211, 68);
  font-weight: 800;
  cursor: pointer;
}
#logoLine > div:nth-child(2) > div:nth-child(2){
  padding:7% 0% 0% 22%;
  color: rgb(255, 211, 68);
  font-weight: 800;
  border: 1px solid rgb(255, 211, 68);
  border-radius: 0.4rem;
  cursor: pointer;
} 
#head{
  text-align: center;
  color: rgb(51, 51, 51);
  font-weight: 800;
  font-size: 38px;
  margin-top:5%;
  letter-spacing: 0.01rem;
}
#head2{
  font-family: Muli, sans-serif;
  color: rgb(126, 126, 126);
  text-align: center;
  font-size: small;
  white-space: normal;
  margin-top: -1%;
}
#middle{
width:75%;
font-family: Muli, sans-serif;
margin:4% 0% 0% 13%;
word-spacing: 0.1rem;
display:grid;
grid-template-columns: 54% 40%;
grid-gap: 4%;
}
#middleLeft > div:nth-child(1){
display:grid;
font-size: 18px;
grid-template-columns: 15% 80%;
grid-gap:2%;
}
#middleLeft > div:nth-child(2){
margin-top: 5%;
display:grid;
font-size: 18px;
grid-template-columns: 15% 80%;
grid-gap:2%;
}

#middleLeft > div:nth-child(3){
margin-top: 5%;
display:grid;
font-size: 18px;
grid-template-columns: 15% 80%;
grid-gap:2%;
}
#middleRight > iframe{
border-radius: 3%;
}
#middleLeft > div:nth-child(1) > div:nth-child(2){
padding-top: 1%;
line-height: 1.5rem;
}
#middleLeft > div:nth-child(2) > div:nth-child(2){
padding-top: 3%;
}
#middleLeft > div:nth-child(3) > div:nth-child(2){
padding-top: 3%;
}
#middleLeft > div:nth-child(1) > div:nth-child(1){
background-color: rgb(86, 64, 153);
border-radius: 12%;
padding:2%;
}
#middleLeft > div:nth-child(2) > div:nth-child(1){
background-color: rgb(86, 64, 153);
border-radius: 12%;
padding:2%;
}
#middleLeft > div:nth-child(3) > div:nth-child(1){
background-color: rgb(86, 64, 153);
border-radius: 12%;
padding:2%;
}
#lower{
width:100%;
font-family: Muli, sans-serif;
font-size: 15px;
background-color: rgb(86, 64, 153);
}
#lower-box{
width:80%;
margin-left: 10%;
margin-top: 8%;
transform: translate(0px, -40px);
margin-bottom: -9%;
padding:1.1%;
display: grid;
text-align: center;
grid-gap:1.1%;
background-color: rgb(107, 85, 205);
grid-template-columns: 17% 15% 16% 17% 16% 10%;
border-radius: 25px/15%;
}
#lower-box > div:nth-child(1){
border-right: 1px solid rgb(126, 126, 126);
padding-right:6%;
}
#lower-box > div:nth-child(1) > img{
width:98%;
height: 100%;
}
#lower-box > div:nth-child(2){
border-right: 1px solid gray;
padding:2%;
color: white;
}
#lower-box > div:nth-child(3){
border-right: 1px solid gray;
padding:2%;
color: white;
}
#lower-box > div:nth-child(4){
border-right: 1px solid gray;
padding:2%;
color: white;
}
#lower-box > div:nth-child(5){
padding:2%;
color: white;
}
#lower-box > div:nth-child(6){
margin-top: 25%;
padding-top: 8%;
height: 25%;
font-size: 14px;
color:rgb(107, 85, 205);
font-weight: bold;
background-color: white;
}
#lower > p:nth-child(1){
font-family: Muli, sans-serif;
padding-top: 7.5%;
color:rgb(255, 211, 68);
text-align: center;
}
#lowerPortion{
width:82%;
margin:3% 0% 0% 6%;
display:grid;
grid-template-columns: 18% 22% 21% 22% 20%;
grid-gap:1%;
padding-bottom: 3%;
}
#lowerPortion > div:nth-child(1){
text-align: center;
color: white;
}
#lowerPortion > div:nth-child(2){
text-align: center;
color: white;
}
#lowerPortion > div:nth-child(3){
text-align: center;
color: white;
}
#lowerPortion > div:nth-child(4){
text-align: center;
color: white;
}
#lowerPortion > div:nth-child(5){
text-align: center;
color: white;
}
.pad{
padding-top: 7%;
}
.pad1{
padding-top: 8%;
}


