@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
 
body{
    background-color: whitesmoke;
     font-family: "Poppins", sans-serif;
     overflow: scroll;
    }
/*preloader*/
#loading{
    position: fixed;
    width:100%;
    height: 100vh;
    background: #fff url('../profile/image/original.gif') no-repeat center;
    z-index: 2;
}

    .container{
    width: 85%;
    height: 100%;
    margin: auto;

}
.container div{
    margin: 1%;
}
.hrow{
    display: flex;
   
}

.center{
    align-items: center;
}
.col-left{
    width: 57%;
    min-width: 200px;
    border-radius: 3px;
    padding: 15px;

}
.addAddress{ 
    border: 2px dashed #FFA000;
    text-align: center;
    padding: 25px;
    font-size: 1rem;
}
.addresses{
  border: 1px solid #ccc;
  cursor: pointer;
    padding: 25px;
    font-size: 1rem;
}
.addresses_top{
display: flex;
}
.cart-address{
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
}
.addresses_top > i{ 
margin:6px;
color: black !important;
}
.address_text{
  font-size: small;
  color: #ccc;
}
.add-new{
    width: 100px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600; 
    color: black;
    border: none;
    background-color: #FFCA28;

}
.deliver_btn{
    width: 100px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    color: black;
    border: none;
    background-color: #FFCA28;
}
.col-right{
    width: 39%;
    min-width: 420px;
    height: 30%;

    border-radius: 2px;
    border: none;
    padding: 15px;

}
#cart-right{
    padding: 5px;
    width: 98%;
    background-color: white;
}
.cart-small-txt{
    font-size: 12px;
    color:#BDBDBD;

}
.cart-status{
    padding: 22px;
    border-radius: 8px;

    height: 100px;
    background-color: white;
}
.cart-address{
    font-size: 1.5vw;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
}
.cart-payment{
    padding: 15px;
    border-radius: 8px;
    background-color: white;
}


.p-text-color{
    color:#726e6e;
    font-size: 14px;

}
.margin{
    margin: 6px;
}
.addtoCartBtn{
    width: 50%;
    height: 30px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    color: black;
    border: none;
    background-color: #FFCA28; 
}


.cart-bottom-left{
    width: 85%;
}
.cart-bottom-right {
    width: 12%;
}
.grand-total{
    height: 30%;
    padding: 15px;
    width: 98%;
    background-color: white;
}

.line-height{
    line-height: 0%;
}
.cart-txt-color{
    color: green;
   
}
.coupon{
    width: 98%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;
    justify-content: space-between;
}
.all-coupons{
    color: indigo;
    font-size: 13px;
}
.credits{
    width: 98%;
    height: 80px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;
    justify-content: space-between;
}
.credits-mid-txt{
    width: 290px;
}

.credit-img{
    width: 25px;
    height: 22px;
    margin: 5px;
}
.coupon-img{
    width: 34px;
    height: 17px;
    margin-right: 7px;
}
.margin-rt{
    margin-left:8%;
}
.cursor{
    cursor: pointer;
}

.coupon-cont{
    display: none;

 position: fixed;

 top:0;
 left: 0;
 height: 100%;
width: 100%;

 z-index:5;
background-color:rgba(0, 0, 0, 0.5);


}




.bg-modal{ 
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index:6;

    display: none;
    align-items: center; 
    justify-content: center; 
}
.address{
    
    position: relative; 
}
.close{
    color: white;
position: absolute;
top: 1;
right: -30px;
font-size: 42px;
transform: rotate(45deg);
cursor: pointer;
}

.address_focus {
height: 100%;
}
.address {
width: 35vw;
height: 90vh;
}


/* Map */
input[type="text"] {
background-color: #fff;
border: 0;
border-radius: 2px;
box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
margin: 10px;
padding: 0 0.5em;
font: 400 18px Roboto, Arial, sans-serif;
overflow: hidden;
line-height: 40px;
margin-right: 0;
min-width: 25%;
}

input[type="button"] {
background-color: #fff;
border: 0;
border-radius: 2px;
box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
margin: 10px;
padding: 0 0.5em;
font: 400 18px Roboto, Arial, sans-serif;
overflow: hidden;
height: 40px;
cursor: pointer;
margin-left: 5px;
}
input[type="button"]:hover {
background: #ebebeb;
}
input[type="button"].button-primary {
background-color: #1a73e8;
color: white;
}
input[type="button"].button-primary:hover {
background-color: #1765cc;
}
input[type="button"].button-secondary {
background-color: white;
color: #1a73e8;
}
input[type="button"].button-secondary:hover {
background-color: #d2e3fc;
}

#response-container {
background-color: #fff;
border: 0;
border-radius: 2px;
box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
margin: 10px;
padding: 0 0.5em;
font: 400 18px Roboto, Arial, sans-serif;
overflow: hidden;
overflow: auto;
max-height: 50%;
max-width: 90%;
background-color: rgba(255, 255, 255, 0.95);
font-size: small;
}

#instructions {
background-color: #fff;
border: 0;
border-radius: 2px;
box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
margin: 10px;
padding: 0 0.5em;
font: 400 18px Roboto, Arial, sans-serif;
overflow: hidden;
padding: 1rem;
font-size: medium;
}




.text-xs {
font-size: 10px;
}

form { 
position: relative;
}
.fly-up-content {
font-size: 14px;
height: 60px;
}

.fly-up-1 {
position: absolute;
pointer-events: none;
font-size: 11px;
left: 40px;
top: 25px;
transition: 0.2s ease all;
}
.fly-up-2 {
position: absolute;
pointer-events: none;
font-size: 11px;
left: 40px;
top: 105px;
transition: 0.2s ease all;
}

.btn_wrapper {
margin-left: 25px;
}

.btn_wrapper > button {
color: #d2d2d2;
width: 6rem;
font-size: 12px;
border: 1px solid #d2d2d2;
}
.btn_wrapper > button > i {
padding-top: 3px;
}

.save_btn {
background-color: #d2d2d2;
width: 98%;
height: 50px;
color: white;
font-weight: 900;
cursor: auto;
}
.save {
margin: 25px 1%;
}

.active {
background-color: #3b1e6c;
color: white;
}


.payment_section{
    padding: 15px 18px;
  }
  .google_pay_top img{
    height: 3rem;
    float: left; 
    margin-right: 14rem;
    margin-bottom: 4rem;
  }
  .payment_box{
    border: 1px solid #ccc;
    margin-left:2rem;
    margin-top: 20px ;
     border-radius: 10px;
    width: 30rem; 
    padding:24px;
  } 
  .payment_top{
    margin-bottom: 10px; 
    display: flex;
    justify-content: space-between;
  }
  .google_pay_logo{
    height: 2rem;
  }
  .fa,.fas{
    color: green;
  }
  .payment_mid{
    margin-bottom: 10px; 
    display: flex;
    gap: 20px;
    padding: 5px;
  }
  
  button, input, optgroup, select, textarea {
      padding: 0;
      line-height: inherit;
      color: inherit;
      height: 50px;
  width: 16rem;
  }
  .payment_number{
    border: 1px solid #ccc;
    border-radius: 5px;
      padding-top: 16px;
      padding-left: 5px;
      color: #ccc;
      float: left;
  }
  .payment_label{
    position: absolute;
    margin-left: 5px;
    color: #ccc;
  }
  .payment_number:focus, textarea:focus {
      outline: none;
  }
  .payment_number::-webkit-outer-spin-button,
  .payment_number::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
  }
  .payment_mid p{
    font-weight: 600; 
    margin: auto;
    cursor: pointer;
  
  }
  .pay_button{
    display: block;
    width: 100%;
    border: none; 
    background-color: #FFD344;
    padding: 10px 18px; 
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    margin: auto;
    border-radius: 5px;
    float: left;
  }
  
  
  .tick{
    float: right;
  
  }
  
  .COD_logo{
    height: 2rem;
    margin: auto
  }
  
  .cod_main_text{
    font-weight: bold;
    margin-bottom: 20px;
  }
  .cod_description{
  font-size: small;
  font-weight: lighter;
  margin-bottom: 20px;
  }
  #paymentType2{
    display: none;
  }
  #paymentType3{
    display: none;
  }
  #paymentType4{
    display: none;
  }
  
  .payActive{
    background-color: white;
    color: black;
    border-radius:5px 0 0 5px;
    margin-right: 0;
    width: 110%;
  }

#navLeft{
margin-left: 13vh;
width: 80%;
}
#logged{
    display: flex;
}
#hr{
    width: 0.3vh;
    height: 3vh;
    background-color: black;
}

 /* adding customization css  */
.custom-parent{
    display: none;
position: fixed;

top:-16px;
     left: -20px;
    height: 100vh;
    width: 100%;
z-index:2;
background-color:rgba(0, 0, 0, 0.5);


}
.custom{

    
    height: 650px;
    width:500px;
    max-width: 500px;

    left:33%;
     top:40px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
box-shadow:0px 0px 5px grey;
background-color:white;

}
.custom-top{
    display: flex;
    font-size: 25px;
    padding: 20px;
    gap:20px;
    box-shadow: 0 2px 5px lightgray;
}
.custom-top i {
    cursor: pointer;

}
.custom-bottom{
    position: absolute;
height: 50px;
width:100%;
background-color:rgb(255, 211, 68);
bottom: 0;
/* padding:5px; */
}
.custom-bottom>p{
    text-align: center;
    font-size: 20px;
    margin: 0;
    line-height:50px;
}
.active-custom{
    display:block;
}


/* /* customisable middle  */
.custom-middle{
    padding-left: 20px;
    padding-right: 20px;
}
.head{
display:flex;
align-items:center;
gap:10px;
margin-top: 10px;
}
.head img{
    height:20px;
    margin-top: 4px;
}
.head+div>p{

    padding-left:30px;
    color:grey;

}
.custom-option{
    margin-top: 50px;
}

.option{
    margin-top:20px;
}
.option-head>div> img{
    height:15px;
    margin-right: 10px;
    max-width: 15px;


}
.option-head{
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
    font-size: 15px;
}

