/*footer css*/
#big {
    margin-top: -1%;
    margin-bottom: -1%;
    width: 100%;
    /* height: 600px; */
    background-color: rgb(25, 11, 69);
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  #big5{
    margin-top: 12%;
    width: 117%;
    margin-left: -8%;
    /* height: 600px; */
    background-color: rgb(25, 11, 69);
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  #big1 {
    width: 75%;
    /* height: 400px; */
    /* background-color: orangered; */
    margin: 8px 13%;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  #big2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-gap: 3%; */
    justify-content: center;
  }      
  #heading {
    font-size: 25px;
    color: rgb(196, 196, 196);
  }
  .inrbox {
    /* display: grid; */
    /* background-color: violet; */
    font-size: 16px;
    line-height: 25px;
  }
  .fh{
    font-size: 25px;
    color: rgb(196, 196, 196);
  }
  #line {
    height: 2px;
    border-radius: 2px;
    background-color: rgb(107, 85, 205);
  }
  #ft {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    font-size: 18px;
    color: rgb(126, 126, 126);
  }
  #lastr {
    text-align: right;
    letter-spacing: 0.01rem;
  }
  #con{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap:20%;
  }